{% extends 'base.html' %}
{% block content %}
    {% load widget_tweaks %}
<section id="form" style="margin-left: 30%">
    <div class="container">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="signup-form"><!--login form-->
                <h2>Login Your Account</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label>{{ field.label_tag }}</label>
                    </div>
                    <div class="mb-3">
                        {{ field.errors }}
                        {{ field|add_class:"form-control" }} <!-- Apply form-control class -->
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot Password</a>
                        <button class="btn btn-success rounded-pill" type="submit">Login</button> <!-- Styled as Signup button -->
                    </div>
                    <div class="mt-3 text-center">
                        <a href="{% url 'signup' %}" class="text-decoration-none">Create Your Account &rarr;</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}